.typescript {
    fill: rgb(0, 149, 255);
}
.javascript {
    fill: rgb(247, 255, 0);
}
.java {
    fill: rgba(255, 0, 0, 0.8);
}
.html {
    fill: rgba(255, 106, 0, 0.84);
}
.python {
    fill: rgba(0, 102, 155, 0.84);
}
.cplusplus {
    fill: rgb(0, 89, 255);
}
.php {
    fill: rgb(118, 123, 179);
}
.postgres {
    fill: rgb(48, 96, 145);
}
.go {
    fill: rgb(0, 170, 215);
}