.typescript {
    fill: rgb(0, 149, 255);
}
.javascript {
    fill: rgb(247, 255, 0);
}
.java {
    fill: rgba(255, 0, 0, 0.8);
}
.cSharp {
    fill: rgb(104, 33, 122);
}
.python {
    fill: rgba(0, 102, 155, 0.84);
}
.cplusplus {
    fill: rgb(0, 89, 255);
}
.c {
    fill: rgb(57, 73, 171);
}
.ruby {
    fill: rgb(176, 38, 32);
}
.go {
    fill: rgb(0, 170, 215);
}