.queue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-wrapper {
    --width: 100px;
    --gap: 0;
    --num-items: 6;
    --ani-speed: 14s;

    width: 450px;
    overflow: hidden;
    position: relative;
}

@media (max-width: 768px) {
    .carousel-wrapper {
        width: 400px;
    }
}

@media(min-width: 1700px) {
    .carousel-wrapper {
        width: 500px;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        90% {
            transform: translateX(-950px);
        }
        100% {
            transform: translateX(0);
        }
    }
}


.carousel-wrapper::before,
.carousel-wrapper::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 100%;
    z-index: 1;
    top: 0;
    pointer-events: none;
}
.carousel-wrapper::before {
    left: 0;
}
.carousel-wrapper::after {
    right: 0;
    transform: rotate(180deg);
}

.carousel {
    display: flex;
    align-items: center;
    animation: scroll var(--ani-speed) linear infinite;
}

.item {
    flex: 0 0 var(--width);
    text-align: center;
    padding: 1rem;
}
.item > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(-900px);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 768px) {
    .carousel {
        animation: scroll-mobile 14s linear infinite;
    }

    @keyframes scroll-mobile {
        0% {
            transform: translateX(0);
        }
        90% {
            transform: translateX(-900px);
        }
        100% {
            transform: translateX(0);
        }
    }
}

.queue-text {
    font-size: 18px;
    color: #6e6e6e;
    text-align: center;
    font-weight: 600;
}

.queue-icon {
    width: 50px;
    height: 50px;
}

.green {
    fill: #00ff1e;
}

.white {
    fill: #dadada;
}

.blue {
    fill: #0082ec;
}

.whiteblue {
    fill: #00eaff;
}

.whitegreen {
    fill: #73ff00;
}

.small-text-queue {
    font-size: 16px;
    font-weight: 550;
    color: #d8ecf8;
    text-shadow: 0 2px 16px rgba(174, 207, 242, .24);
}
