.card-right-bottom {
    width: 34%;
    height: 30px;
    border-radius: 20px;
    opacity: 0.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background: var(--c-bg-elements);
    padding: 5px 10px;
    cursor: pointer;
    transition: opacity 0.4s;
}

.card-right-bottom:hover {
  opacity: 1;
}

.right-bottom-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.times-card {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.bottom {
    margin-top: 10px;
}

.copyright {
    text-align: center;
}

.times-in-website {

}

.notifications {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    max-height: 350px;
    overflow: auto;
}

@media (max-width: 1600px) and (min-width: 768px) {
    .notifications {
        max-height: 250px;
    }
}

.left-notification {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.left-notification .title {
    font-size: 18px;
    font-weight: 600;
}

.left-notification .text {
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    opacity: 0.8;
}

.notification {
    width: 100%;
    height: 65px;
    border-radius: 10px;
    background: var(--c-bg-elements);
    padding: 5px 10px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    gap: 10px;
    opacity: 0.8;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.notification:hover {
    opacity: 1;
}

.diamond-notification {
    border-left: 5px solid rgba(0, 169, 255, 0.6);
}

.diamond-notification:hover {
    border-left: 5px solid rgba(0, 169, 255, 1);
}

.account-notification {
    border-left: 5px solid rgba(140, 0, 255, 0.6);
}

.account-notification:hover {
    border-left: 5px solid rgba(140, 0, 255, 1);
}

.certificate-notification {
    border-left: 5px solid rgba(0, 51, 255, 0.6);
}

.certificate-notification:hover {
    border-left: 5px solid rgba(0, 51, 255, 1);
}

.badge-notification {
    border-left: 5px solid rgba(0, 255, 102, 0.6);
}

.badge-notification:hover {
    border-left: 5px solid rgba(0, 255, 102, 1);
}

.notification i {
    font-size: 24px;
}