body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0d1118;
}

.background {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10000;
}

.container {
    border: 1px solid #1f293a;
    border-radius: 20px;
    padding: 30px;
    background-color: #1b2231;
    box-shadow: 1px 1px 10px #242f42;
    width: 90%;
    margin: 20px 10px 10px 100px ;
    max-width: 1200px;
    position: relative;
}


.task-cards {
    width: 90%;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.task-card {
    background-color: #243656;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #263d67;
    box-shadow: 1px 1px 5px #263d67;
    transition: ease-in-out 0.2s;
}

.task-card:hover {
    background-color: #1c2e4f;
    border: 1px solid #0059ff;
    box-shadow: 1px 1px 5px #0059ff;
}

.active-task {
    background-color: #1c2e4f;
    border: 1px solid #0059ff;
    box-shadow: 1px 1px 5px #0059ff;
}

.main-window {
    width: 100%;
    display: flex;
    gap: 40px;
}

.code-editor,
.test-results {
    display: flex;
    flex-direction: column;
}

.right-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.code-editor {
    width: 70%;
    height: 525px;
}

.test-results {
    width: 100%;
    height: 330px;
}

.code-editor textarea {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    background-color: #070707;
    color:  #00FF00;
    --color: rgba(114, 114, 114, 0.3);
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}

.test-results {
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    padding: 10px;
    background-color: #070707;
    overflow-y: auto;
    color: white;
}

.test-results h3 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.difficult-level {
    width: 100%;
    height: 130px;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    padding: 10px;
    background-color: #070707;
    overflow-y: auto;
    color: white;
}

.difficult-level h3 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.submit-btn {
    float: right;
    width: 55%;
    padding: 18px;
    margin-top: 20px;
    background-color: #252f46;
    color: white;
    font-size: 18px;
    font-weight: 550;
    border: 2px solid #00a8ff;
    box-shadow: 1px 1px 2px #00a8ff;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #273450;
    box-shadow: 1px 1px 8px #00a8ff;
}

.language {
    float: left;
    width: 40%;
    display: flex;
    margin-top: 20px;
    background-color: #252f46;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
    border: 2px solid #00a8ff;
    box-shadow: 1px 1px 2px #00a8ff;
}

.language:hover {
    background-color: #273450;
    box-shadow: 1px 1px 8px #00a8ff;
}

.cplusplus {
    fill: #3b59f1;
}

.text-language {
    font-size: 18px;
    font-weight: 600;
}

.menu-info {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 20px;
}

.other-information {
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 550;
}



.bar {
    width: 100%;
    height: 20px;
    border-radius: 40px;
    background: linear-gradient(
            to right,
            #00FF00,
            #ffdd00,
            #ff7300,
            #dc0505
    );
    align-items: center;
    justify-content: center;
}

.bar-stopper {
    margin-left: 1%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.difficult-text {
    color: #00FF00FF;
    font-weight: 550;
    margin-left: 0;
}

.document-button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #070707;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #00a8ff;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.document-button:hover {
    background-color: #171717;
    box-shadow: 1px 1px 5px #00a8ff;
}

.document-button svg {
    fill: white;
    width: 20px;
    transition: ease-in-out 0.2s;
}

.document-button:hover svg {
    fill: #00a8ff !important;
}

.task-and-button {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.other-information li {
    list-style-type: none;
    padding: 8px 0;
    font-size: 14px;
    color: #b6b5b5;
}

.other-information li strong {
    color: #ffffff;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 35px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    flex-direction: row;
    display: flex;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
}

.card.success {
    border-left: 5px solid #28a745;
}

.card.failure {
    border-left: 5px solid #dc3545;
}

.card.null {
    border-left: 5px solid #5e5e5e;
}

.card-icon {
    font-size: 30px;
    margin-bottom: 15px;
}

.card.success .card-icon {
    color: #28a745;
}

.card.null .card-icon {
    color: #5e5e5e;
}

.card.failure .card-icon {
    color: #dc3545;
}

.failure {
    color: #ff001a;
}

.null {
    color: #5e5e5e;
}

.success {
    color: #00be2c;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.top-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
}

.box-icon {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 1px 1px 5px #3b3b3b;
    transition: ease-in-out 0.1s;
}

.box-icon:hover {
    background: #3b3b3b;
    box-shadow: 1px 1px 5px #464646;
}

.icon-refresh {
    fill: whitesmoke;
    width: 20px;
    height: 20px;
}

.footer-text {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.hidden {
    display: none!important;
}

.active-icon {
    background: #00a9ff!important;
}

.top-zero {
    top: 0;
}


.certificateBtn {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #070707;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffd700 ;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.certificateBtn:hover {
    background-color: #171717;
    box-shadow: 1px 1px 5px #ffd700;
}

.certificateBtn:hover svg {
    transition: ease-in-out 0.2s;
    fill: #d7b500!important;
}

.certificateBtn svg {
    width: 28px;
    fill: #ffffff!important;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.certificate-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 10000;
    align-items: center;
    justify-content: center;
    display: flex;
}

.certificate-background i {
    right: 2%;
    top: 2%;
    position: absolute;
    cursor: pointer;
}

#savedCertificateImg {
    width: 65%;
    height: 90%;
}

.transfer-box {
    background: #131825;
    border-radius: 20px;
    width: 29%;
    height: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid #0077b0;
    position: relative;
}

#transfer-box .fa-x {
    cursor: pointer;
    position: absolute;
    top: 4%;
    right: 4%;
}

@media (max-width: 768px) {
    .transfer-box {
        width: 90%;
        height: 55%;
    }
}

.transfer-box h2 {
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}

.input {
    max-width: 190px;
    display: none;
}

.labelFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 190px;
    border: 2px dashed #00a9ff;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding: 5px;
    color: #ffffff;
    cursor: pointer;
}

.tranfer-btn {
    width: 65%;
    height: 45px;
    border-radius: 10px;
    background: #161d2d;
    border: 1px solid #00a9ff;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #00a9ff;
    font-weight: 600;
    cursor: pointer;
    gap: 10px;
}

.tranfer-btn:hover {
    background: rgba(0, 169, 255, 0.10);
    box-shadow: 1px 1px 5px #00A9FF19;
}

.json-file-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.tranfer-btn svg {
    width: 30px;
    fill: #00a9ff;
}

.phone {
    display: none;
}

.computer {
    display: block;
}

@media (max-width: 1100px) and (min-width: 900px) {
    #savedCertificateImg {
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 900px) and (min-width: 700px) {
    #savedCertificateImg {
        width: 80%;
        height: 70%;
    }
}

@media (max-width: 700px) and (min-width: 500px) {
    #savedCertificateImg {
        width: 80%;
        height: 55%;
    }
}

@media (max-width: 500px) {
    .certificate-background i {
        right: 4%;
        top: 2%;
    }

    #savedCertificateImg {
        width: 90%;
        height: 35%;
    }
}






@media (max-width: 768px) {

    .container {
        width: auto;
        margin: 10px 10px 0 10px;
    }

    .phone {
        display: block;
        margin-bottom: 15px;
        margin-left: -10px;
    }

    .computer {
        display: none;
    }

    .code-editor textarea {
        width: 100%;
    }

    .menu-info {
        flex-direction: column;
        gap: 0;
    }

    .main-window {
        flex-direction: column;
    }

    .code-editor {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .right-container {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .other-information {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 20px;
        text-align: center;
        margin-top: 5px;
    }

    .submit-btn {
        width: 55%;
    }

    .language {
        width: 40%;
    }
}