:root {
    --border-color-and-type: 1px solid var(--btn-color-primary);
    --conatiner-background-color: #18202d;
    --line-background-color: var(--btn-color-primary);
    --background-sender-area: #0b0f15;
    --input-background-color: #141b25;
}

.chat-bot-container {
    width: 370px;
    height: 450px;
    background-color: var(--conatiner-background-color);
    border-radius: 8px;
    flex-direction: column;
    color: var(--btn-color-primary);
    display: none;
    position: fixed;
    z-index: 999999999;
    right: 2%;
    bottom: 11%;
    transition: bottom 0.4s ease;
}

.chat-bot-container-second-position {
    bottom: 17%;
}

.open-chat-container {
    display: flex!important;
}

.chat-bot-nav-bar {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-bot-nav-bar a {
    white-space: nowrap;
    margin-left: 10px;
    user-select: none;
}

.close {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.close i {
    color: var(--btn-color-primary)!important;
}

.left-chat-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.chat-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.green-chat-dot {
    background: #00be2c;
}

.orange-chat-dot {
    background: #ff7300;
}

.line {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: var(--line-background-color);
    border-radius: 30px;
}

.line.one {
    transform: rotate(45deg)
}

.line.two {
    transform: rotate(135deg)
}

.messages-area {
    width: 100%;
    height: 77%;
    padding-bottom: 10px;
    padding-top: 5px;
    overflow: auto;
}

.sender-area {
    background-color: var(--background-sender-area);
    width: 100%;
    height: 70px;
    display: flex;
    border-radius: 8px;
}

.send-input {
    outline: none;
    display: flex;
    border: none;
    background: none;
    height: 40px;
    width: 93%;
    border-radius: 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5px;
    color: var(--btn-color-primary);
}

.send-input::placeholder {
    color: var(--btn-color-primary);
}

.input-place {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 10px;
    align-items: center;
    background-color: var(--input-background-color);
    border-radius: 7px;
    height: 40px;
    width: 350px;
    gap: 5px;
    border: 1px solid var(--conatiner-background-color);;
}

.send {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.send svg g g path {
    fill: var(--btn-color-primary);
}

.user-messages-box, .bot-messages-box {
    width: auto;
    height: auto;
    color: var(--btn-color-primary);
    display: flex;
    max-width: 95%;
    padding: 5px 0 5px 15px;
}

.user-messages-box {
    justify-content: flex-end;
}

.bot-messages-box {
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
}


.user-messages-box p, .bot-messages-box p {
    background-color: #1d2b3e;
    padding: 6px 10px;
    border-radius: 7px;
    width: fit-content;
    margin: 0!important;
    max-width: 75%;
    font-size: 15px;
}

.send-icon {
    width: 17px;
}

.image-box {
    width: 26px;
    height: 26px;
}

.image-box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.categories-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    margin-left: 39px;
}

.category-button, .question-button {
    padding: 6px 10px;
    border: 1px solid #1d2b3e;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    animation: ease-in-out 0.4s;
}

.category-button:hover {
    background: #1d2b3e;
}

.category-box {
    display: flex;
    flex-direction: column;
    max-width: 75%;
}

.questions-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 8px 10px 5px 10px;
}

.question-button {
    padding: 4px 8px;
    font-size: 14px;
}

.answer {
    font-size: 14px;
    margin: 8px 0 5px 10px;
}