:root {
    --footer-background-color: #28344e;
    --footer-min-height: 100px;
    --footer-padding: 20px 50px;
    --footer-top-margin: 150px;
    --text-color-primary: #d8ecf8be;
    --link-hover-transform: translateY(-10px);
    --link-transition-duration: 0.5s;
    --btn-border-color: #2a2e52;
    --btn-box-shadow: 1px 1px 5px #2a2e52;
    --btn-hover-box-shadow: 1px 1px 10px #2a2e52;
    --btn-color-primary: #a7b0ff;
    --btn-color-secondary: #4b539d;
    --btn-color-tertiary: #bec3ff;
}

.footer {
    position: relative;
    width: 100%;
    background: var(--footer-background-color);
    min-height: var(--footer-min-height);
    padding: var(--footer-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    margin-top: var(--footer-top-margin);
    bottom: 0;
}

.social-icon,
.menu {
    opacity: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: var(--text-color-primary);
    margin: 0 10px;
    display: inline-block;
    transition: var(--link-transition-duration);
}

.social-icon__link:hover {
    transform: var(--link-hover-transform);
}

.menu__link {
    font-size: 1.2rem;
    color: var(--text-color-primary);
    margin: 0 10px;
    display: inline-block;
    transition: var(--link-transition-duration);
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: var(--text-color-primary);
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/tC8KJBJ/039b47f1-4208-4c2f-988d-91e711aa8bd4.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

.other-buttons {
    width: 60px;
    height: 60px;
    position: fixed;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: 3px solid var(--btn-border-color);
    right: 2%;
    bottom: 2%;
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
    opacity: 0.45;
    transition: opacity 0.5s;
    z-index: 100000;
    color: var(--btn-color-primary) !important;
}

.other-buttons-icon {
    color: var(--btn-color-primary) !important;
}

.other-buttons:hover {
    box-shadow: var(--btn-hover-box-shadow);
    background: var(--btn-border-color);
    opacity: 1;
}

.extra-button {
    width: 55px;
    height: 55px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    border: 3px solid var(--btn-color-secondary);
    box-shadow: var(--btn-box-shadow);
    opacity: 0.4;
    transition: all 0.5s ease;
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.extra-button:hover {
    background-color: var(--btn-color-secondary);
}

.btn-top-icon-child {
    color: var(--btn-color-tertiary) !important;
}

/* Hide the extra buttons initially */
.hidden {
    transform: scale(0);
    opacity: 0;
}

/* When the buttons are active */
.active .extra-button-1 {
    transform: translate(-80px, +10px);
    opacity: 1;
}

.active .extra-button-2 {
    transform: translate(-50px, -60px);
    opacity: 1;
}

.active .extra-button-3 {
    transform: translate(20px, -70px);
    opacity: 1;
}

.portfolio-link {
    text-decoration: none;
    color: var(--text-color-primary);
}

@media (max-width: 768px) {
    .active .extra-button-1 {
        transform: translate(-80px, 20px);
    }

    .active .extra-button-2 {
        transform: translate(-55px, -45px);
    }

    .active .extra-button-3 {
        transform: translate(15px, -70px);
    }

    .extra-button {
        background-color: var(--btn-color-secondary) !important;
    }
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-position-x: 0px;
    }
}
