body {
    color: white;
    margin: 0;
    padding: 0;
}

.ai-modal {
    display: none;
    position: fixed;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.chat-bot-container {
    width: 80%!important;
    height: 80%!important;
    display: flex!important;
    position: absolute!important;
}

.chat-bot-nav-bar {
    background: #0c1217;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.custom-tooltip {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
}
